.button{
    margin: 10px;
    width: 80px;
    font-size: large;
    font-weight: 600;
    border-radius: 7px;
    
}
.button:hover{
    background-color: lightgreen;
}

.list:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Box shadow on hover */
  }